:root {
  --pst-font-size-base: 19.2px;
  --pst-font-size-monospace: 19.2px;
  --pst-color-text-base: 0, 0, 0;

  --pst-font-family-base-system: -apple-system, BlinkMacSystemFont,
    Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --pst-font-family-monospace-system: "Ubuntu Mono", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;

  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base-system);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);

  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --midnight: #001630;
  --blue: #043065;
  --white: #fff;
  --lime: #91b301;
  --teal: #11a5a1;
  --lightteal: #1abcb8;
  --darkteal: #0e8481;
  --sky: #0cb3e1;
  --tangelo: #f44500;
  --yellow: #f4b200;
  --americanyellow: #f4b200;
  --safetyyellow: #f4d400;
}
html[data-theme="light"] {
    background: url('/img/grey-silk-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
  --pst-color-navbar: var(--midnight);
  --pst-color-header: var(--blue);
  --pst-color-primary: var(--gray);
  --pst-color-success: var(--lime);
  --pst-color-info: var(--teal);
  --pst-color-warning: var(--yellow);
  --pst-color-danger: var(--tangelo);
  --pst-color-text-base: var(--darkgray);
  --pst-color-on-background: var(--pst-color-surface);
  --pst-color-link: var(--blue);
  --pst-color-link-hover: var(--lime);
  --pst-color-headerlink: 198, 15, 15;
  --pst-color-headerlink-hover: 255, 255, 255;
  --pst-color-preformatted-text: red;
  --pst-color-preformatted-background: white;
  --pst-color-inline-code: var(--tangelo);
}
html[data-theme="light"] img.hero-light {
  display: block;
}
html[data-theme="light"] img.hero-dark {
  display: none;
}
html[data-theme="dark"] img.hero-light {
  display: none;
}
html[data-theme="dark"] img.hero-dark {
  display: block;
}
html[data-theme="dark"] {
  background: url('/img/dark-grey-silk-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
  --pst-color-navbar: var(--darkgray);
  --pst-color-header: var(--lightgray);
  --pst-color-primary: var(--gray);
  --pst-color-text-base: var(--lightgray);
  --pst-color-background: black;
  --pst-color-on-background: var(--pst-color-surface);
  --pst-color-link: var(--lightteal);
  --pst-color-link-hover: var(--lime);
  --pst-color-headerlink: var(--gray);
  --pst-color-headerlink-hover: var(--lime);
  --pst-color-preformatted-text: var(--yellow);
  --pst-color-preformatted-background: white;
  --pst-color-inline-code: var(--yellow);
}
html[data-theme="dark"] .bd-content img:not(.only-dark) {
  background: transparent;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif;
  color: var(--pst-color-header);
}
h2, h3, h4, h5, h6 {
  margin-top: 1.1rem;
  margin-bottom: 0.4rem;
  padding: 0.2rem 0 0.1rem;
}
.bd-header {
  background-color: var(--pst-color-navbar) !important;
}
.bd-sidebar-primary {
  max-width: 17rem;
  font-size: var(--pst-font-size-base);
}
.bd-sidebar-primary .sidebar-start-items__item {
  padding: 0;
}
.breadcrumb {
  padding: 0;
  background-color: transparent;
}
.breadcrumb, .breadcrumb-item.active, .breadcrumb-item + .breadcrumb-item::before {
  color: var(--pst-color-textbase);
}
.admonition > .admonition-title::before, div.admonition > .admonition-title::before {
  opacity: 0.3;
}