---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff00e7">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <!-- RSS from 11ta-template not yet implemented <link rel="alternate" type="application/atom+xml" title="RSS Feed for {{ meta.siteName }}" href="/feed.xml"/> -->
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      {% include "./partials/masthead.njk" %}

      {% set navPages = collections.all | eleventyNavigationBreadcrumb( eleventyNavigation.key ) %}
      {% if navPages.length > 0 %}
      <div class="bg-no-repeat bg-cover bg-center" style="background-image: url(/static/img/grey-silk-bg.jpg );">
          <div class="my-3 {{ structure.g_pageWidth }}">
                {% include "partials/breadcrumb.njk" %}
          </div>
      </div>
      {% endif %}

      {% if images.placement == 'feature' %}
        <figure class="{{ images.featureheight }}">
          <img class="object-cover {{ images.featureheight }} {{ images.align }} w-full" src="{{ images.feature if 'http' in images.feature else "/static/img/" + images.feature }}" alt="{{ title }}">
        </figure>

      {% elif images.placement == 'background' %}
        <div class="bg-fixed bg-no-repeat bg-cover bg-center" style="background-image: url(/static/img/{{ images.background }} );">
          <div class="flex-grow max-w-full">
            <div class="flex {{ structure.g_pageWidth }}" id="content">
              <div class="flex-grow w-3/4 max-w-full">
                <main class="block {{ structure.g_pageWidth }}" id="content">
                  {% include "partials/hero-text.njk" %}
                </main>
              </div>
            </div>
          </div>  
        </div>

      {% endif %}

      <div class="flex-grow max-w-full">
        <div>
          <div class="flex {{ structure.g_pageWidth }}" id="content">
            {% if (sidebar | lower) != "none" %}
              {% include "partials/sidebar.njk" %}
            {% endif %}
            <div class="flex-grow w-3/4 max-w-full">
              <main class="block" id="content">
                {{ content | safe }}
              </main>
            </div>
          </div>
        </div>
      </div>  
      
      {% include "./partials/footer.html" %}
      
      <script src="/static/js/alpine.js"></script>

      {% if path == "home" %}
        <!-- Netlify Identity Widget -->
        <!-- Needed only if you are using Netlify Identity feature -->
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      {% endif %}
    </div>
  </body>
</html>