---
---
<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="flex flex-col min-h-screen">
      {% include "./partials/masthead.njk" %}
      {% set navPages = collections.all | eleventyNavigationBreadcrumb( eleventyNavigation.key ) %}
      <div class="static mt-16 bg-fixed bg-no-repeat bg-cover bg-center w-full" style="background-image: url(/static/img/{{ structure.g_headerImage }} );">
        <div class="flex flex-wrap py-4 {{ structure.g_pageWidth }} justify-between items-center">
          <div class="flex">
            {% if navPages.length > 0 %}
              {% include "partials/breadcrumb.njk" %}
            {% endif %}
          </div>
          <div class="w-64">
            <div id="search"></div>
          </div>
        </div>
      </div>

      {% if hero.image %}
        <div class="{{ hero.position or 'bg-fixed bg-no-repeat bg-cover bg-center' }} {{ hero.height }}" style="background-image: url(/static/img/{{ hero.image }} );">
          <div class="flex-grow max-w-full {{ hero.height }}">
            <div class="flex " id="content">
              <div class="flex-grow w-3/4 max-w-full">
                <main class="block " id="content">
                  {% include "partials/hero-text.njk" %}
                </main>
              </div>
            </div>
          </div>  
        </div>
      {% endif %}

      <div class="flex-grow max-w-full">
        <div class="flex {{ structure.g_pageWidth }}">
          {% if (sidebar | lower) != "none" %}
            {% include "partials/sidebar.njk" %}
          {% endif %}
          <div class="flex-grow w-3/4 max-w-full">
            <main class="block" id="content">
              {{ content | safe }}
            </main>
          </div>
        </div>
      </div>  
      
      {% include "./partials/footer.html" %}
      
      <script src="/static/js/alpine.js"></script>

      {% if path == "Home" %}
        <!-- Netlify Identity Widget -->
        <!-- Needed only if you are using Netlify Identity feature -->
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      {% endif %}
    </div>
  </body>
</html>