{% for post in postslist | reverse %}
  <div class="col col-12 col-lg-6 g-2">
    <div class="row g-0 p-2 h-100 align-items-center rounded border shadow overflow-hidden">
      <div class="col-9 g-0 h-100 rounded">
        <a class="col mb-2 text-decoration-none" href="{{ post.url | url }}">
          <h4 class="display-8 fw-bold lh-1 mb-2">{{ post.data.title }}</h4>
        </a>
        <small><p class="fw-light my-0 py-0"><span>{{ post.data.date | readableDate }}</span> &mdash; By {{ post.data.author }}</p></small>
        <p class="lead" style="line-height: 1.3;">{{ post.data.excerpt }}</p>
        <small>
          {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="card-tag">{{ tag }}</a>{{ ", " if not loop.last else "" }}
          {% endfor %}
        </small>
      </div>
      <div class="col-3 g-0 h-100 rounded m-0 p-0 overflow-hidden">
        <img class="img-fluid" src="{% if post.data.thumbnail %} {{ post.data.thumbnail }} {% else %} /img/fib-nocode-trace-dag.png {% endif %}">
      </div>
    </div>
  </div>
{% endfor %}

