<div class="row {% if blogFormat.row %} {{ blogFormat.row }} {% endif %}">
  {% for post in postslist | reverse %}
  <div class="{% if blogFormat.col %} {{ blogFormat.col }} {% else %} col-sm-6 col-lg-3 mb-4 {% endif %}">
    <div class="card" style="border-color: var(--blue);">
      <div class="overflow-hidden" style="height: 9em">
      <img class="img-fluid p-3" src="{% if post.data.thumbnail %} {{ ['/img/', post.data.thumbnail] | join }} {% else %} /img/fib-nocode-trace-dag.png {% endif %}">
      </div>
      <div class="blog card-body" style="background-color: var(--blue);">
        <a class="col mb-2 text-decoration-none" href="{{ post.url | url }}">
          <h6 class="fw-bold card-title">{{ post.data.title }}</h5>
        </a>
        <small>
        <p class="mb-0 card-text">{{ post.data.excerpt }}</p>
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="card-tag">{{ tag }}</a>{{ ", " if not loop.last else "" }}
        {% endfor %}
        </small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>