_site/
_tmp/
.DS_Store
env
node_modules/
.vscode/
*git/
package-lock.json
.env
*~
src/sphinx/docs/build/doctrees
src/sphinx/docs/build/html/.doctrees
src/sphinx/docs/build/html/objects.inv
src/sphinx/docs/build/html/searchindex.js

# Local Netlify folder
.netlify
