---
title: Try OpenCilk
sidebar: toc
---

<div class="container py-1" style="max-width: 1120px;">
  <div class="row justify-content-center">
    <ul class="d-flex align-items-center flex-column lead">
    <li>Write fast parallel code for shared-memory multicores</li>
    <li>Analyze and benchmark the parallel scalability of your program</li>
    <li>Detect and debug races or prove that your program execution is race-free</li>
    </ul>
  </div>
</div>

<div class="mx-0" style="background-color: var(--pst-color-background);">
<div class="container py-0" style="max-width: 1120px;">
 <div class="row justify-content-center">
   <div class="d-flex flex-column col-lg-6 col-sm-12 mt-4">
     <div class="flex-shrink-1  mb-4">
       OpenCilk is an open-source software development infrastructure for task-parallel programming that allows for substantial code reuse and easy exploration of design choices in language abstraction, compilation strategy, runtime mechanism, and productivity tool development.
     </div>
     <div class="flex-shrink-1  mb-4">
       OpenCilk provides an ideal environment for developing fast code for applications that run on commodity and cloud multicore computers. It features a simple language, small codebase, and mathematically provable guarantees of good performance.
     </div>
   </div>
   <div class="d-flex flex-column col-lg-6 col-sm-12 mt-4">
     <div class="flex-shrink-1  mb-4">
       <h3 class="mt-0 pt-0">Measure parallelism and maximize scalability with automated benchmarking</h3>
       With CilkScale you can ensure that your program scales up and down to make the most of any host system.
     </div>
     <div class="flex-shrink-1  mb-4">
       <h3 class="mt-0 pt-0">Optimize your code with a compiler that KNOWS parallelism</h3>
       OpenCilk augments the of LLVM to represent parallel control flow and bring every LLVM optimization to bear on your parallelized code.
     </div>
   </div>

   <div class="col col-sm-12 lead text-center py-4" style="max-width:75%;">
   <a href="/get_involved/instructors-of-spe">Join the community</a> of OpenCilk educators to share teaching materials and learn about software performance engineering.
   </div>

 </div>
</div>
</div>


