---
title: Go Multicore
images:
  placement:  # options: feature, background
  background: grey-silk-bg.jpg
  align: object-center # object-center (default) - other options at https://tailwindcss.com/docs/object-position
hero:
  title: Go Multicore
  subtitle: 
  links:
layout: pages
sidebar: Blog
eleventyNavigation:
  key: Blog
  parent: home
  order: 3
pagination:
  data: collections.post
  size: 12
  reverse: true
---

<section class="mt-15">
    {% set postslist = pagination.items %}

    {% include 'partials/postslistcards.njk' %}

    {% if collections.post.length > pagination.size %}
        {% include "partials/pagination.njk" %}
    {% endif %}
</section>