---
title: Go Multicore
hero:
  image: 
  position: bg-norepeat bg-center
  height: h-40
  title: 
layout: pages
sidebar: Blog
eleventyNavigation:
  key: Blog
  parent: home
  order: 3
pagination:
  data: collections.post
  size: 4
  reverse: true
---

<section class="mt-15">
    {% set postslist = pagination.items %}

    {% include 'partials/postslistcards.njk' %}

    {% if collections.post.length > pagination.size %}
        {% include "partials/pagination.njk" %}
    {% endif %}
</section>