---
permalink: feed/.htaccess
eleventyExcludeFromCollections: true
---
# For Apache, to show `{{ metadata.blog.feed.filename }}` when browsing to directory /feed/ (hide the file!)
DirectoryIndex {{ metadata.blog.feed.filename }}
