<html lang="{{ site.lang}}">
  {% include 'partials/header.njk' %}
  <body class="thumb d-flex flex-column vh-100">
    {% include 'partials/navbar.njk' %}
    {% set mainWhite = false %}
    <div class="row justify-content-between">
      {% if sidebar %}
        {% set sidebarCode = ["partials/sidebar-", sidebar, ".njk"] | join %}
        {% include sidebarCode %}
      {% endif %}
      <div class="col mx-0 px-0 min-vh-100">
        <main class="h-100 pt-3 px-4 {{ background }}">
          {% if page.url != "/" %}
            <small>
              {% if eleventyNavigation.key %}
                {% set crumbPages = collections.all | eleventyNavigationBreadcrumb( eleventyNavigation.key ) %}
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                {%- for entry in crumbPages %}
                    <li class="breadcrumb-item">
                        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ title }}
                </li>
                </ol>
                </nav>
              {% endif %}
            </small>
          {% endif %}

          {{ content | safe }}
        </main>
      </div>
    </div>
    {% include 'partials/footer.njk' %}
  </body>
</html>
