---
layout: layouts/homepage.njk
sidebar: 
templateClass: tmpl-home
---
{% if not hero.image %}
  <h1>{{ title }}</h1>
{% endif %}

{%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}
