---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<div style="font-size: larger;">

    <p class="my-0 py-0"><span>{{ page.date | readableDate }}</span> &mdash; <span class="me-4">By {{ author }}</span></p>

    {% if tagline %}
    <p>{{ tagline | markdownify | safe }}</p>
    {% endif %}

    {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {%- endfor %}

    {% if attribution %}
      <small><div class="breadcrumb-item active">{{ metadata.attribution.cilkplus }}</div></small>
    {% endif %}

    <div style="margin-top: 0.5em;">
        {{ content | safe }}
    </div>
</div>