---
title: Documentation
layout: layouts/page.njk
eleventyNavigation:
  key: Documentation
  parent: Home
  order: 4
---

<div class="d-flex flex-wrap">
  <div class="flex-fill m-2 p-2 rounded" style="background-color: var(--pst-color-surface); border-left: 0.2rem solid var(--yellow); border-top: 0.2rem solid var(--yellow);">
    <div class="text-center">
      <h3 class="mt-0 mb-1">User's guide</h2>
      <p class="lead">Doing things with OpenCilk</p>
    </div>
    {% set items = collections.all | eleventyNavigation("User's guide") %}
    <ul>
    {% for item in items %}
        <li class="{% if page.url == item.url %} postlist-item-active {% else %} postlist-item {% endif %}">
            <a href="{{ item.url }}" class="postlist-link" {% if page.url == item.url %} class="aria-current="page" {% endif %}>{{ item.title }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>

  <div class="flex-fill m-2 p-2 rounded" style="background-color: var(--pst-color-surface); border-left: 0.2rem solid var(--teal); border-top: 0.2rem solid var(--teal);">
    <div class="text-center">
      <h3 class="mt-0 mb-1">Tutorials</h2>
      <p class="lead">Learning OpenCilk concepts</p>
    </div>
    {% set items = collections.all | eleventyNavigation("Tutorials") %}
    <ul>
    {% for item in items %}
        <li class="{% if page.url == item.url %} postlist-item-active {% else %} postlist-item {% endif %}">
            <a href="{{ item.url }}" class="postlist-link" {% if page.url == item.url %} class="aria-current="page" {% endif %}>{{ item.title }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>

  <div class="flex-fill m-2 p-2 rounded" style="background-color: var(--pst-color-surface); border-left: 0.2rem solid var(--blue); border-top: 0.2rem solid var(--blue);"">
    <div class="text-center">
      <h3 class="mt-0 mb-1">Reference</h2>
      <p class="lead">Defining OpenCilk specifications</p>
    </div>
    {% set items = collections.all | eleventyNavigation("Reference") %}
    <ul>
    {% for item in items %}
        <li class="{% if page.url == item.url %} postlist-item-active {% else %} postlist-item {% endif %}">
            <a href="{{ item.url }}" class="postlist-link" {% if page.url == item.url %} class="aria-current="page" {% endif %}>{{ item.title }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>

