/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --midnight: #001630;
  --blue: #043065;
  --white: #fff;
  --lime: #91b301;
  --teal: #11a5a1;
  --sky: #0cb3e1;
  --tangelo: #f44500;
  --yellow: #f4b200;
  --americanyellow: #f4b200;
  --safetyyellow: #f4d400;
}

html,
body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 35px;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--darkgray);
  background: url('/img/grey-silk-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif;
  margin-bottom: 0.5em;
}
h2, h3, h4, h5 {
  margin-top: 0.75em;
}
h1, h2, h3 {
  color: var(--blue);
}
a {
  color: var(--blue);
}
a:hover {
  color: var(--lime);
}
.blog.card-body {
  color: white;
}
.blog.card-body time {
  color: var(--teal);
}
.blog.card-body a {
  color: var(--sky);
}
.blog.card-body a:hover {
  color: var(--lime);
}
.blog.card-body a.card-tag {
  color: var(--yellow);
}
.blog.card-body a.card-tag:hover {
  color: var(--tangelo);
}
img.icon {
  height: 2em;
}
a.card-tag {
  text-decoration: none;
  text-transform: uppercase;
  font-size: smaller;
}
.codefont,
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
}
pre,
code {
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  color: var(--sky);
  background-color: var(--blue);
}
code {
  color: var(--tangelo);
  word-break: break-all;
}

.list-tight p {
  margin: 0;
}
.list-tight li {
  margin-bottom: 0.4em;
}
.footer {
  background-color: var(--gray);
  padding: 1em;
}

/* Posts list */

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-decoration: none;
}
.postlist-item-active .postlist-link {
  color: var(--teal);
  font-weight: bold;
}
.tmpl-home .postlist-link, .tmpl-page .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
