backend:
  # Use Git-Gateway
  name: git-gateway
  repo: https://github.com/OpenCilk/www.opencilk.org
  branch: main
  
# This line should *not* be indented
publish_mode: editorial_workflow

media_folder: "src/img"
public_folder: "/img"

# Please run "npx netlify-cms-proxy-server" for local backend
local_backend: true
# publish_mode: editorial_workflow
collections:
  - label: "Pages"
    name: "pages"
    files:
      - label: "Community"
        name: "community"
        file: "src/community/index.md"
        fields:
          - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "Tags", name: "tags", widget: "list", required: false }
          - { label: "Body", name: "body", widget: "markdown" }
      - label: "About us"
        name: "about-us"
        file: "src/about-us.md"
        fields:
          - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "Tags", name: "tags", widget: "list", required: false }
          - { label: "Body", name: "body", widget: "markdown" }
      - label: "Contribute"
        name: "contribute"
        file: "src/contribute.md"
        fields:
          - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "Tags", name: "tags", widget: "list", required: false }
          - { label: "Body", name: "body", widget: "markdown" }
  - label: "Authors"
    name: "authors"
    folder: "src/authors"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/post.njk" }
      - { label: "Name", name: "title", widget: "string" }
      - { label: "Professional title", name: "professionalTitle", widget: "string", required: false }
      - { label: "Professional homepage", name: "url", widget: "string", required: false }
      - { label: "Headshot", name: "image", widget: "image", required: false }
  - label: "Blog"
    name: "blog"
    folder: "src/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/post.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Tagline", name: "tagline", widget: "string" }
      - label: Author
        name: author
        widget: relation
        collection: authors
        searchFields: title
        valueField: title
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "image", widget: "file", required: false }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "User's guide"
    name: "users-guide"
    folder: "src/doc/users-guide"
    create: true
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Tagline", name: "tagline", widget: "string", required: false  }
      - { label: "Author", name: "author", widget: "string", required: false  }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "image", widget: "file", required: false }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Tutorials"
    name: "tutorials"
    folder: "src/doc/tutorials"
    create: true
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Tagline", name: "tagline", widget: "string", required: false  }
      - { label: "Author", name: "author", widget: "string", required: false  }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "image", widget: "file", required: false }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Reference"
    name: "reference"
    folder: "src/doc/reference"
    create: true
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Tagline", name: "tagline", widget: "string", required: false  }
      - { label: "Author", name: "author", widget: "string", required: false  }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "image", widget: "file", required: false }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Glossary"
    name: "glossary"
    folder: "src/doc/reference/glossary"
    create: true
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Definition", name: "defn", widget: "markdown" }
