---
title: Go multicore
layout: layouts/page.njk
background: bg-white
sidebar: Blog
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
  parent: Home
---

<p>Welcome to our blog about performance engineering.</p>

<div class="d-flex col-8">
{% set postslist = collections.posts %}
{% include "posts_cards.njk" %}
</div>
