---
title: Fast code
layout: layouts/page.njk
background: bg-white
sidebar: blog
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
  parent: Home
---

<p><strong>Performance engineering:</strong> making software run fast or otherwise consume few resources, such as time, storage, energy, network bandwidth, etc.<p>

<div class="container py-3" id="featured-3">
  <div class="row g-2">

    {% set postslist = collections.posts %}
    {% include "posts_cards.njk" %}

  </div>
</div>
