---
layout: pages
eleventyNavigation:
  key: Documentation
---

<section class="mt-15">
    {% set postslist = collections.howto %}

    {% include 'partials/postslistcards.njk' %}

    {# ===== Paginate based on "size" frontmatter value above =====  #}
    {# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
    {% if postslist.length > pagination.size %}
        {% include "partials/pagination.njk" %}
    {% endif %}
</section>