---
title: Get involved
layout: layouts/page.njk
background: bg-white
sidebar: toc
permalink: /get_involved/
eleventyNavigation:
  key: Get involved
  order: 2
  parent: Home
---
{% alert "note", "Software performance engineering (SPE):" %}
Making software run fast or otherwise consume few resources such as time, storage, energy, network bandwidth, etc.
{% endalert %}

<div class="container py-3" id="featured-3">
  <div class="row g-2">

    {% set postslist = collections.get_involved %}
    {% include "posts_cards.njk" %}

  </div>
</div>
