---
layout: pages
title: Write fast code with C/C++ and OpenCilk.
path: home
sidebar: none
eleventyNavigation:
  key: home
hero:
  image: home-background.jpg
  height: h-screen
  titlePos: mt-80 ml-36 mb-8
  titleImage: OpenCilkLogo-Web-Reversed-1000.png
  titleImageSize: h-12 md:h-16 lg:h-20
  subtitle: The language of performance engineering
  subtitlePos: ml-36
  linkStyle: h3
  linksNot:
    - title: Install →
      url: "/doc/howto/install/"
      desc: Write fast code with OpenCilk.
    - title: Beyond runtime →
      url: "/blog/"
      desc: What is performance engineering?
    - title: In the classroom →
      url: "/learn/"
      desc: Teach with OpenCilk.
    - title: How to →
      url: "/doc/"
      desc: Translate existing apps to OpenCilk.
pagination:
  data: collections.post 
  size: 3
  reverse: true
---

<p>OpenCilk is an open-source platform that makes parallel programming a simple extension of serial programming.</p>
<ul>
  <li>Efficient compiling makes your OpenCilk program faster.</li>
  <li>Provably efficient scheduling tunes each execution of your OpenCilk program to its host environment.</li>
  <li>Provable race-detection guarantees that your OpenCilk program has a deterministic result.</li>
 </ul>

<h2>Featured posts from <a href="/blog/">our blog</a>:</h2>

{% set postslist = collections['featured'] %}
{% include "partials/postslistcards.njk" %}
