---
title: Write fast code with C/C++ and OpenCilk.
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
hero:
  image: /img/OpenCilk-Logo-1001.png
  subtitle: The language of performance engineering
blogFormat: 
  row: justify-content-center
  col: col-sm-6 col-lg-4 mb-4
---

<img class="d-block pt-5 pb-4 mx-auto" src="{{ hero.image }}" width="440">
<div class="text-center" style="font-size: large;">
  <p class="mb-5 mx-auto">The simple way to make software fast and composable</p>
</div>

<div class="container px-4" style="max-width: 1120px;">
  <div class="row justify-content-center g-5 ">
    <div class="col-md-6  rounded">
      <div class="row h-100 flex-row-reverse align-items-center rounded border shadow-lg" style="background-color: var(--yellow);">
        <div class="col-7 h-100 rounded m-0 p-0"
          style="background-image: url('img/qsort-code-light.png'); background-size: cover;">
        </div>
        <div class="col-5 h-100 py-2 rounded" style="color: var(--midnight); background-color: var(--lime);">
          <h4 class="display-8 fw-bold lh-1 mb-3">Write fast code</h2>
          <p class="lead">Parallelize C/C++ with OpenCilk.</p>
          
          <a href="/doc/users-guide/install" class="btn border btn-lg px-4 me-md-2" style="color: var(--yellow); background-color: var(--blue);">Install</a>
          
        </div>
      </div>
    </div>

    <div class="col-md-6 rounded">
      <div class="row h-100 flex-row-reverse align-items-center rounded border shadow-lg" style="background-color: var(--midnight);">
        <div class="col-7 h-100 rounded m-0 p-0"
          style="background-image: url('img/plenty-of-room-at-the-top.png'); background-size: cover;">
        </div>
        <div class="col-5 h-100 py-2 rounded" style="color: var(--yellow);">
          <h4 class="display-8 fw-bold lh-1 mb-3">Performance engineering</h2>
          <p class="lead">What is it and why does it matter?</p>
          
          <a href="/posts/" class="btn border btn-lg px-4 me-md-2" style="color: var(--yellow); background-color: var(--blue);">Learn</a>
          
        </div>
      </div>
    </div>

  </div>
    
  <div class="row justify-content-center g-5 py-3">

    <div class="col-md-6 rounded">
      <div class="row h-100 flex-row-reverse align-items-center rounded border shadow-lg" style="background-color: var(--teal);">
        <div class="col-7 h-100 rounded m-0 p-0"
          style="background-image: url('img/fib-code-multicore.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
        </div>
        <div class="col-5 h-100 py-2 rounded" style="color: var(--safetyyellow); background-color: rgba(0,0,0,0.2);">
          <h4 class="display-8 fw-bold lh-1 mb-3">Teach parallelism</h4>
          <p class="lead">OpenCilk provides an ideal introduction.</p>
          
          <a href="/doc/" class="btn border btn-lg px-4 me-md-2" style="background-color: var(--yellow);">Discover</a>
          
        </div>
      </div>
    </div>

    <div class="col-md-6 rounded">
      <div class="row h-100 flex-row-reverse align-items-center rounded border shadow-lg" style="background-color: var(--safetyyellow);">
        <div class="col-7 h-100 rounded m-0 p-0"
          style="background-image: url('img/fib-nocode-trace-dag.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
        </div>
        <div class="col-5 h-100 py-2 rounded" style="color: var(--midnight); background-color: var(--yellow);">
          <div class="row flex-grow-1">
          <h4 class="display-8 fw-bold lh-1 mb-3">Go multicore</h2>
          <p class="lead flex-grow-1">Convert your code to OpenCilk.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/doc/users-guide/convert-a-c-program/" class="btn border btn-lg px-4 me-md-2" style="color: var(--yellow); background-color: var(--blue);">Here's how</a>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="mx-0 bg-white" style="border-top-style: solid; border-top-color: var(--lime);">
<div class="container py-4 px-4" style="max-width: 1120px;">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="text-center">
      <h1>{{ title }}</h1>
      </div>
      <p>OpenCilk is an open-source platform that makes parallel programming a simple extension of serial programming.</p>
      <ul>
        <li>Efficient compiling makes your OpenCilk program faster.</li>
        <li>Provably efficient scheduling tunes each execution of your OpenCilk program to its host environment.</li>
        <li>Provable race-detection guarantees that your OpenCilk program has a deterministic result.</li>
      </ul>
    </div>


    <h3 class="my-4">Featured blog posts</h3>
    <div class="container" id="featured-3">
      <div class="row g-2">
        {% set postslist = collections['featured'] %}
        {% include "posts_cards.njk" %}
      </div>
    </div>

  </div>
</div>
</div>
