---
layout: pages
mastheadLogo: logo-b.png
mastheadLogoSize: h-8
mastheadLogoUrl: /
title: Writing fast code is easy with C/C++ and OpenCilk.
path: home
sidebar: none
eleventyNavigation:
  key: logob
  parent: 
hero:
  image: grey-silk-bg.jpg
  height: 
  titleImage: open-cilk-logo-b.png
  titleImageSize: h-16 md:h-20 lg:h-20
  titleImageUrl: /
  subtitle: The language of performance engineering
  linkStyle: h3
  links:
    - title: Install →
      url: "/doc/howto/install/"
      desc: OpenCilk makes it easy to write fast parallel programs.
    - title: Beyond runtime →
      url: "/blog/"
      desc: What is performance engineering?
    - title: In the classroom →
      url: "/learn/"
      desc: Teach with OpenCilk.
    - title: How to →
      url: "/doc/"
      desc: Easily translate existing apps to OpenCilk.
pagination:
  data: collections.post 
  size: 3
  reverse: true
---

<p>OpenCilk is an open-source platform that makes parallel programming a simple extension of serial programming.</p>
<ul>
  <li>Efficient compiling makes your OpenCilk program faster.</li>
  <li>Provably efficient scheduling tunes each execution of your OpenCilk program to its host environment.</li>
  <li>Provable race-detection guarantees that your OpenCilk program has a deterministic result.</li>
 </ul>

<h2>Featured news from <a href="/blog/">our blog</a>:</h2>

{% set postslist = collections.post | head(-2) %}
{% include "partials/postslistcards.njk" %}

<h2>Other stuff</h2>

Some things are missing:
 * 99% of the content
 * Featured list of blog posts (at bottom of home page)
 * Search
 * Sidebar styling
 * LaTex
 * Inline images
 * Analytics
 * Tag pages
 * And more!

And some things are not yet working:
 * Lots of issues with text styling (e.g. line spacing and bullets)
 * Featured images
 * Blog page
