---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: pages
eleventyComputed:
  title: Tagged “{{ tag }}”
  eleventyNavigation:
    key: "{{ tag | safe }}"
    parent: Tags
permalink: /tags/{{ tag | slug }}/
---

{% set postslist = collections[ tag ] %}
{% include "partials/postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>