<ul class="ml-3 text-small {{ colors.navCustom.textActive or colors.navDefault.textActive }} inline list-none">
{%- for entry in navPages %}
    <li class="inline mx-1">
        <a href="{{ entry.url | url }}">{{ entry.title | title }}</a> >
    </li>
{%- endfor %}
<li class="inline mx-1">
    <a href="{{ page.url | url }}">{{ title | title }}</a>
</li>
</ul>
 