<div class="footer">
    
<footer class="d-flex flex-column py-2">
  <div class="d-flex flex-row justify-content-center">
    <div class="d-flex mx-4">
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/doc/users-guide/install">Install</a></li>
        <li><a class="link-secondary" href="/posts/">News</a></li>

      </ul>
    </div>
    <div class="d-flex mx-4">
      <ul class="list-unstyled text-small">

        <li><a class="link-secondary" href="/doc/">Documentation</a></li>
        <li><a class="link-secondary" href="https://accessibility.mit.edu/">Accessibility</a></li>
      </ul>
    </div>
    <div class="d-flex mx-4">
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/community/">Community</a></li>
        <li><a class="link-secondary" href="/about-us/">About us</a></li>

      </ul>
    </div>
    <div class="d-flex mx-4">
      <ul class="list-unstyled text-small">

        <li><a class="link-secondary" href="/contribute/">Contribute</a></li>
        <li><a class="link-secondary" href="/sitemap.xml">Site map</a></li>
      </ul>
    </div>
  </div>
</footer>    
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>