<footer class="bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright © {{ meta.siteName }} 2022.
        This site adapts 
        <a href="https://github.com/surjithctly/neat-starter" target="_blank" class="underline">Neat Starter</a>
        by
        <a href="https://surjithctly.in/" target="_blank" class="underline">Surjith S M</a>
        and
        <a href="https://github.com/11ta/11ta-template" target="_blank" class="underline">11ta Template</a>
        by
        <a href="https://www.shanerobinson.com/" class="underline" target="_blank" rel="noopener">Shane Robinson</a>
    </small>
</footer>
