<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T6NQSGF');</script>
  <!-- End Google Tag Manager -->
  
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta name="generator" content="Docutils 0.19: https://docutils.sourceforge.io/" />
  <title>{{ title }}</title>

  <!-- favicon materials from https://realfavicongenerator.net -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+mono" rel="stylesheet">

  <script>
  document.documentElement.dataset.mode = localStorage.getItem("mode") || "";
  document.documentElement.dataset.theme = localStorage.getItem("theme") || "light";
  </script>

  <!-- Styles (based on pydata-sphinx-theme) -->
  {% set sphinxDir = "/sphinx-html/" %}  
  <!-- Loaded before other Sphinx assets -->
  <link href="{{ sphinxDir }}_static/styles/theme.css?digest=9b1a4fa89bdd0e95b23b" rel="stylesheet">
  <link href="{{ sphinxDir }}_static/styles/pydata-sphinx-theme.css?digest=9b1a4fa89bdd0e95b23b" rel="stylesheet">

  <link rel="stylesheet" href="{{ sphinxDir }}_static/vendor/fontawesome/6.1.2/css/all.min.css">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ sphinxDir }}_static/vendor/fontawesome/6.1.2/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ sphinxDir }}_static/vendor/fontawesome/6.1.2/webfonts/fa-brands-400.woff2">

  <link rel="stylesheet" type="text/css" href="{{ sphinxDir }}_static/design-style.4045f2051d55cab465a707391d5b2007.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ sphinxDir }}_static/css/custom.css" />

  <!-- Eleventy styling -->
  <link rel="stylesheet" type="text/css" href="/css/prism.css">
  <link rel="stylesheet" type="text/css" href="/css/prism-dark.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  
  <!-- Page styling default is adapted from Cilk Plus Users Guide -->
  {% if stylesheet %}
    {% set styleCss = ['/css/', stylesheet] | join %}
    <link rel="stylesheet" href="{{ styleCss | url }}">
  {% else %}
    <link rel="stylesheet" href="/css/users-guide.css">
  {% endif %}
  <link rel="alternate" href="{{ metadata.blog.feed.path | url }}" type="application/atom+xml" title="{{ metadata.blog.title }}">
  <link rel="alternate" href="{{ metadata.blog.jsonfeed.path | url }}" type="application/json" title="{{ metadata.blog.title }}">

  <!-- Algolia search -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
  <script type="text/javascript">
    algoliasearchNetlify({
      appId: 'ZXFQTD503J',
      apiKey: 'e59239027e233dc2c36cf72538857de0',
      siteId: '5002b68e-552c-4f2d-9943-12777479a01f',
      branch: 'master',
      selector: 'div#search',
    });
  </script>

  <!-- Pre-loaded scripts that we'll load fully later -->
  <link rel="preload" as="script" href="{{ sphinxDir }}_static/scripts/pydata-sphinx-theme.js?digest=9b1a4fa89bdd0e95b23b">

  <script data-url_root="./" id="documentation_options" src="{{ sphinxDir }}_static/documentation_options.js"></script>
  <script src="{{ sphinxDir }}_static/jquery.js"></script>
  <script src="{{ sphinxDir }}_static/underscore.js"></script>
  <script src="{{ sphinxDir }}_static/_sphinx_javascript_frameworks_compat.js"></script>
  <script src="{{ sphinxDir }}_static/doctools.js"></script>
  <script src="{{ sphinxDir }}_static/design-tabs.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDFMCE4NX2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DDFMCE4NX2');
  </script>

  <!-- Netlify CMS -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>