  <div>
  {% if hero.titleImage %}
    <img class="mx-auto mt-8 {{ hero.titleImageSize }}" src="/static/img/{{ hero.titleImage }}">
  {% else %}
    <h1 class="mt-8 mb-4 text-center">{{ hero.title }}</h1>
  {% endif %}
  </div>
  <div>
  {% if hero.subtitle %}
    <p class="text-center mt-4 ml-12 text-dark-blue">{{ hero.subtitle }}</p>
  {% endif %}
  </div>

{% if hero.links %}
  <div class="items-center justify-center mx-auto {{ hero.linkGrid or 'max-w-xl md:max-w-2xl grid grid-cols-1 md:grid-cols-2 gap-4' }} my-8 px-4">
    {% for item in hero.links %}
        <a href="{{item.url}}" class="p-5 h-full border bg-indigo-500 bg-opacity-5 hover:bg-cilk-pink hover:bg-opacity-5 rounded-xl border-indigo-500 hover:border-cilk-pink">
            <{{ hero.linkStyle or 'h3'}} class="text-header-blue">
              {{item.title}}
            </{{ hero.linkStyle or 'h3'}}>
            <p class="{{ hero.descStyle }}">{{item.desc}}</p>
        </a>
    {% endfor %}
  </div>
{% endif %}