{% set navPages = collections.all | eleventyNavigation("home") %}
<nav x-data="{ open: false }" class="bg-fixed bg-no-repeat bg-cover bg-center" style="background-image: url(/static/img/grey-silk-bg.jpg );"> 
  <div class="flex {{ structure.g_pageWidth }} py-4 justify-between flex-wrap container">
    <!--Logo etc-->
    <div class="flex items-center">
      <a href="/">
        <img src="/static/img/logo-35c-oc.png" class="mx-12 h-12">
      </a>
    </div>

    <div class="hidden sm:ml-6 sm:flex sm:items-center">
      {# 11ty Nav Plugin loop  #}
      {% for entry in navPages %}
        <a {% if page.url != entry.url %}href="{{ entry.url | url }}"{% endif %} alt="Link to {{ entry.title }}" 
            class=" px-3 py-2 font-medium rounded-lg items-center {% if page.url == entry.url %} border border-cilk-pink bg-cilk-pink bg-opacity-5 {{ colors.navDefault.textActive }} {% else %} {{ colors.navDefault.text }} hover:{{ colors.navDefault.textHover }} {% endif %} focus:outline-none focus:{{ colors.navDefault.textFocus }} transition duration-150 ease-in-out">
          {{ entry.title }}
        </a>
      {% endfor %}
    </div>

    {# Right side of Navbar  #}

    {# MOBILE MENU  #}
    <div class="flex items-center -mr-2 sm:hidden">
      {# Mobile menu button #}
      <button @click="open = !open" class="inline-flex items-center justify-center p-2 {{ colors.navDefault.mobileButton }} transition duration-150 ease-in-out rounded-md hover:{{ colors.navDefault.mobileButton }} hover:{{ colors.navDefault.mobileButtonBgHover }} focus:outline-none focus:{{ colors.navDefault.mobileButton }} focus:{{ colors.navDefault.mobileButton }}" x-bind:aria-label="open ? 'Close main menu' : 'Main menu'" aria-label="Main menu" x-bind:aria-expanded="open">
        {# Icon when menu is closed.  #}
        <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': open, 'block': !open }" class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
        {# Icon when menu is open.  #}
        <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': !open, 'block': open }" class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>

  <div x-description="Mobile menu, toggle classes based on menu state." x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'block': open, 'hidden': !open }" class="hidden sm:hidden">
    <div class="pt-2 pb-3">
      {# 11ty Nav Plugin loop  #}
      {% for entry in navPages %}
        <a {% if page.url != entry.url %}href="{{ entry.url | url }}"{% endif %} alt="Link to {{ entry.title }}" class="block pl-4 pr-4 py-2 {% if page.url == entry.url %}{{ colors.navDefault.mobileBgActive }} {{ colors.navDefault.mobileTextActive }}{% else %}{{ colors.navDefault.mobileBg }} hover:{{ colors.navDefault.mobileTextHover }} hover:{{ colors.navDefault.mobileBgHover }}  {% endif %} text-base font-medium  {{ colors.navDefault.mobileText }}  focus:outline-none focus:{{ colors.navDefault.mobileTextFocus }} focus:{{ colors.navDefault.mobileBgFocus }} transition duration-150 ease-in-out">
          {{ entry.title }}
        </a>
      {% endfor %}

    </div>
  </div>
</nav>