<nav class="bd-header navbar navbar-expand-lg navbar-dark bd-navbar justify-content-between px-4">
  <a class="navbar-brand" href="/"><img src="{{ sphinxDir }}_static/OpenCilk-icon-330.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
    {% for entry in collections.all | eleventyNavigation("Home") %}
        {% if page.url == entry.url %}
        <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>

    <div id="navbar-end">
      <div class="navbar-end-item">
        <span class="theme-switch-button btn btn-sm btn-outline-primary navbar-btn rounded-circle">
            <a class="theme-switch" data-mode="light"><i class="fas fa-sun"></i></a>
            <a class="theme-switch" data-mode="dark"><i class="far fa-moon"></i></a>
            <a class="theme-switch" data-mode="auto"><i class="fas fa-adjust"></i></a>
        </span>
      </div>
      <div class="navbar-end-item navbar-end__search-button-container">  
        <form class="form-inline my-2 my-md-0">
          <div class="w-64">
            <div id="search"></div>
          </div>
        </form>
      </div>
    </div>
</nav>
