              <div class="flex-1">
                <a href="{{ post.url | url }}" class="block">
                  <h3 class="mt-2 text-xl font-semibold leading-7 {{ colors.headingsDefault }}">
                    {{ post.data.title }}
                  </h3>

                  {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
                  {% if structure.g_showExcerpt %}
                    <div class="{{ colors.excerptDefault }}">
                      {{ post.data.excerpt }}
                    </div>
                  {% endif %}

                </a>
              </div>

              {% if post.data.author %}
                <div class="mt-2 text-sm">
                    By {{ post.data.author }}, {{ post.date | readableDate }}
                </div>
              {% endif %}
            
              {% set tags = post.data.tags %}
              {% include "partials/tags.njk" %}