<section class="mt-12">
  <div class="relative px-4 pb-20 sm:px-6 lg:pb-28 lg:px-8">
    <div class="relative mx-auto max-w-7xl">
      <div class="grid gap-5 mx-auto mt-12 md:grid-cols-2 xl:grid-cols-3 lg:max-w-none">
        {% for post in postslist %}

          <div class="flex flex-col ">
            <div class="flex flex-col justify-between flex-1 p-6 bg-white">
              <div class="flex-1">
                <a href="{{ post.url | url }}" class="block">
                  <h3 class="mt-2 text-xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
                    {{ post.data.title }}
                  </h3>
                  {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
                  {% if structure.g_showExcerpt %}
                    <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                      {{ post.data.excerpt }}
                    </div>
                  {% endif %}
                </a>
              </div>
              <div class="flex-1">
                {% if structure.g_showTagPills %}
                  {% set tags = post.data.tags %}
                  {% include "partials/tags.njk" %}
                {% endif %}
              </div>

            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>