
<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3" style="margin-left: 1em; width: 280px; border-right-width: 2; border-right-style: solid; border-color: var(--lime);">
    {% set context = 'Blog' %}
    <h5>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseContext" role="button" aria-expanded="false" aria-controls="collapseContext" style="color: var(--midnight); background-color: var(--lime);">
        {{ context }}
    </a>
    </h5>
    <div class="collapse show" id="collapseContext">
        <div class="list-group ps-3 sticky-top sticky-offset" style="margin-left: -2em;">
            {% set postslist = collections.posts %}
            <ul>
            {% for post in postslist | reverse %}
            <li>
                <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% if page.url != '/posts/' %}
        <p class="fw-light">
        <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="false" aria-controls="collapseToc" style="color: var(--midnight); background-color: var(--teal);">
            On this page
        </a>
        </p>
        <div class="collapse show" id="collapseToc">
        <div class="list-group ps-3 sticky-top sticky-offset" style="margin-left: -2em;">
            {{ content | toc | safe }}
        </div>
        </div> 
    {% endif %}
</div>   