{% set context = 'Fast code' %}
<div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">

    <h5 class="w-100 p-2 rounded" style="margin-left: -0.4em; color: var(--midnight); background-color: var(--lime);">
        {{ context }}
    </h5>
    <div class="collapse show" id="collapseContext">
        <div class="list-group ps-3 sticky-top sticky-offset" style="margin-left: -2em;">
            {% set postslist = collections.posts %}
            <ul>
            {% for post in postslist | reverse %}
            <li class="{% if page.url == post.url %} postlist-item-active {% else %} postlist-item {% endif %}">
                <a href="{{ post.url | url }}" class="postlist-link" {% if page.url == post.url %} aria-current="page" {% endif %}>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% if page.url != '/posts/' %}
    <h6 class="p-2 rounded" style="margin-left: -0.4em; color: var(--midnight); background-color: var(--teal);">
        On this page
    </h6>
        <div class="collapse show" id="collapseToc">
        <div class="list-group ps-3 sticky-top sticky-offset" style="margin-left: -2em;">
            {{ content | toc | safe }}
        </div>
        </div> 
    {% endif %}
    
</div>