
{% set navPages = ['Blog', 'Documentation', 'Community', 'About us', 'Contribute'] %}
{% if eleventyNavigation.key in navPages %}
{% set context = eleventyNavigation.key %}
{% else %}
{% set context = eleventyNavigation.parent %}
{% endif %}


<div class="toc-item">
  
    <div class="tocsection onthispage">
        <i class="fas fa-list"></i> On this page
    </div>
    <nav id="bd-toc-nav" class="page-toc">
    {{ content | toc | safe }}
    </nav>
</div>