{% if (sidebar | lower) == "blog" %}
    {% set sideBlog = 'true' %}
    {% set sideTitle = "Archive" %}
    {% set navPages = collections.post | reverse %}
{% else %}
    {% set sideBlog = 'false' %}
    {% set sideTitle = "Contents" %}
    {% set navPages = collections.all | eleventyNavigation("Documentation") %}    
{% endif %}

<nav class="h-screen sticky top-0 mt-6 w-1/4">
<h3 class="ml-4">{{ sideTitle }}</h3>
{% macro renderNavListItem(entry) -%}
    <li
    {% if entry.url == page.url %} 
        class="p-2 border rounded-lg border-cilk-pink bg-cilk-pink bg-opacity-5 my-2 {{ colors.navDefault.textActive }}"
    {% else %} 
        class="my-2 hover:{{ colors.navDefault.textHover }}"
    {% endif %}>
    <a href="{{ entry.url | url }}">{% if sideBlog == 'true' %}{{ entry.data.title }}{% else %}{{ entry.title }}{% endif %}</a>
    {%- if entry.children.length -%}
    <ul class="list-none ml-4">
        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
    </ul>
    {%- endif -%}
    </li>
{%- endmacro -%}

<ul class="list-none ml-4">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</nav>
