{% set navPages = collections.all | eleventyNavigation("Documentation") %}    
<div id="sidebar" class="w-25 col-2 border-end">
    {% macro renderNavListItem(entry) -%}
        <li class="nav-item pt-2 mx-0">
            <a href="{{ entry.url | url }}">
            <span>{{ entry.title }}</span>
            </a>
        {%- if entry.children.length -%}
        <ul class="list-group ps-3">
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
        {%- endif -%}
        </li>
    {%- endmacro -%}

    <ul class="list-group ps-3 sticky-top sticky-offset">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>

</div>