{% set navPages = ['Blog', 'Documentation', 'Community', 'About us', 'Contribute'] %}
{% if eleventyNavigation.key in navPages %}
{% set context = eleventyNavigation.key %}
{% else %}
{% set context = eleventyNavigation.parent %}
{% endif %}

<div class="sidebar-header-items sidebar-primary__section">
    <div class="sidebar-header-items__center">
        <div class="navbar-center-item">
            <nav class="navbar-nav">
        <h4 class="w-100 p-2 rounded" style="margin-left: -0.4em; margin-top: 0; color: white; background-color: var(--midnight);">
            Main menu
        </h4>
                <ul id="navbar-main-elements" class="navbar-nav">
                    {% for item in collections.all | eleventyNavigation("Home") %}
                        <li class="{% if page.url == item.url %}  toctree-l1 active {% else %} toctree-l1 {% endif %}">
                            <a href="{{ item.url }}" class="reference" {% if page.url == item.url %} class="aria-current="page" {% endif %}>{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>    


<div class="sidebar-start-items__item">
    <nav class="bd-links" id="bd-docs-nav" aria-label="Section navigation">
        <h5 class="w-100 p-2 rounded" style="margin-left: -0.4em; margin-top: 0; color: var(--midnight); background-color: var(--lime);">
            {{ context }}
        </h5>
        <div class="bd-toc-item navbar-nav">
            <ul class="nav bd-sidenav">
                {% for item in collections.all | eleventyNavigation(context) %}
                    <li class="{% if page.url == item.url %}  toctree-l1 active {% else %} toctree-l1 {% endif %}">
                        <a href="{{ item.url }}" class="reference" {% if page.url == item.url %} class="aria-current="page" {% endif %}>{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>

<div class="sidebar-start-items__item">
    <div class="toc-item">
        <h6 class="p-2 rounded" style="margin-left: -0.4em; margin-top: 0; color: var(--midnight); background-color: var(--teal);">
        
            On this page

        </h6>
        <nav id="bd-toc-nav" class="page-toc">
        {{ content | toc | safe }}
        </nav>
    </div>
</div>